@mixin only-desktop {
  @media screen and (min-width: $--bp-tablet + 1) {
    @content;
  }
}

@mixin tablet-and-higher {
  @media screen and (min-width: $--bp-phone + 1) {
    @content;
  }
}

@mixin only-tablet {
  @media screen and (min-width: $--bp-phone + 1) and (max-width: $--bp-tablet) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $--bp-tablet) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $--bp-phone) {
    @content;
  }
}

@mixin small-phone {
  @media screen and (max-width: $--bp-small) {
    @content;
  }
}

@mixin small-height {
  @media screen and (max-height: calc(100vw / 2.5)) {
    @content;
  }
}
