.theme--light {
  --primary-background: #{$--white};
  --primary-text: #{$--black};
  --main-border-color: #{$--light-grey-2};
  --main-input-background: #{$--light-grey};
  --main-button-background: #{$--light-grey-2};
  --main-button-background-hover: #{$--light-grey-5};
  --main-button-active: #{$--light-grey-4};
  --secondary-text: #{$--grey};
  --main-icon-color: #{$--black};
  --additional-background: #{$--light-grey-2};
  --field-background: #{$--light-grey-4};
  --additional-button-background: #{$--light-grey-4};
  --selection-text-color: #{$--black};

  --wallets-item-background: #{$--light-grey-2};
  --wallets-item-background-hover: #{$--white};
  --wallets-item-border: #{$--light-grey-5};
  --wallets-box-shadow: 4px 4px 16px rgba(55, 55, 55, 0.24);
}

.theme--dark {
  --primary-background: #{$--dark-blue};
  --primary-text: #{$--light-grey-2};
  --main-border-color: #{$--light-grey-2-percent10};
  --main-input-background: #{$--dark-blue-4};
  --main-button-background: #{$--dark-blue-3};
  --main-button-background-hover: #{$--dark-blue-2};
  --main-button-background-active: #{ $--dark-blue-1};
  --secondary-text: #{$--grey};
  --main-icon-color: #{$--white};
  --additional-background: #{$--dark-blue-3};
  --field-background: #{$--dark-blue-1};
  --additional-button-background: #{$--dark-blue-3};
  --selection-text-color: #{$--white};
  
  --wallets-item-background: #{$--dark-blue-4};
  --wallets-item-background-hover:  #{$--dark-blue-3};
  --wallets-item-border: #{$--dark-blue-5};
  --wallets-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
