// color
$--black: #101010;
$--white: #ffffff;
$--light-grey: #F5F5F5;
$--light-grey-1: #E9E9E9;
$--grey: #b9b9b9;
$--grey-1: #A4A4A4;
$--grey-2: #B4B4B4;
$--grey-3: #909090;
$--dark-grey: #919191;
$--light-blue: #d8d4ff;
$--blue: #1935cf;
$--purple: #6144E5;
$--salad: #49c800;
$--red: #ff0000;
$--green: #008000;
// fonts
$--font-base: 'Nunito', serif;
$--font-size-extra-small: 10px;
$--font-size-small: 12px;
$--font-size-base: 14px;
$--font-size-medium: 16px;
$--font-size-button: 17px;
$--font-size-extra-small-subtitle: 18px;
$--font-size-small-subtitle: 20px;
$--font-size-subtitle: 24px;
$--font-size-title: 30px;
$--font-size-extra-title: 36px;

$--font-weight-extra-bold: 800;
$--font-weight-bold: 700;
$--font-weight-semi-bold: 600;
$--font-weight-medium: 500;
$--font-weight-regular: 400;
$--font-weight-light: 300;
$--font-weight-extra-light: 200;

$--max-content-size: 1280px;
$--bp-tablet: 1280px;
$--bp-phone: 480px;
$--bp-small: 320px;

// transition duration
$--transition-duration: 0.3s;

// z-indexes
$--z-index-negative: -10;
$--z-index-high: 1000;

:root {
  --navigation-drawer-mobile-height: 57px;
  --navigation-drawer-desktop-width: 70px;
  --max-content-size: 1920px;
  --disabled-background: #f5f5f5;
}