// color
$--black: #000000;
$--white: #ffffff;
$--light-grey: #F6F6F6;
$--grey: #B9B9B9;
$--dark-grey: #919191;
$--light-blue: #d8d4ff;
$--blue: #1935cf;
$--salad: #49c800;
$--red: #ff0000;
$--green: #008000;
// typography
$--small-border-radius: 3px;
// fonts
$--font-base: 'Nunito', serif;
$--font-size-extra-small: 10px;
$--font-size-small: 12px;
$--font-size-base: 14px;
$--font-size-medium: 16px;
$--font-size-extra-small-subtitle: 18px;
$--font-size-small-subtitle: 20px;
$--font-size-subtitle: 24px;
$--font-size-title: 28px;
$--font-size-extra-title: 30px;

$--font-weight-extra-bold: 800;
$--font-weight-bold: 700;
$--font-weight-semi-bold: 600;
$--font-weight-medium: 500;
$--font-weight-regular: 400;
$--font-weight-light: 300;
$--font-weight-extra-light: 200;

$--max-content-size: 1280px;
$--bp-tablet: 1280px;
$--bp-phone: 480px;

// transition duration
$--transition-duration: 0.3s;

// z-indexes
$--z-index-negative: -10;
$--z-index-high: 1000;

:root {
  --navigation-drawer-mobile-height: 57px;
  --navigation-drawer-desktop-width: 70px;
  --max-content-size: 1920px;
}