// color
$--black: #000000;
$--white: #ffffff;
$--grey: #acacac;
$--light-blue: #d8d4ff;
$--blue: #1935cf;
$--salad: #49c800;
// typography
$--small-border-radius: 3px;
// fonts
$--font-base: 'Roboto', serif;
$--font-size-small: 12px;
$--font-size-base: 14px;
$--font-size-medium: 16px;
$--font-size-small-subtitle: 20px;
$--font-size-title: 28px;
$--font-size-subtitle: 24px;

$--font-weight-extra-bold: 800;
$--font-weight-bold: 700;
$--font-weight-semi-bold: 600;
$--font-weight-medium: 500;
$--font-weight-regular: 400;
$--font-weight-light: 300;
$--font-weight-extra-light: 200;

$--bp-tablet: 1024px;
$--bp-phone: 480px;

// transition duration
$--transition-duration: 0.3s;

// z-indexes
$--z-index-negative: -10;
$--z-index-high: 1000;
