@import 'vars';
@import 'media';
@import '~normalize.css';

* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
}

body {
  font-family: $--font-base;
  font-weight: $--font-weight-regular;
  font-size: $--font-size-base;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
