@import 'vars';
@import 'media';
@import '~normalize.css';
@import 'stylesheet';
@import '~vuetify/src/styles/styles.sass';
@import 'theme-variable';

* {
  box-sizing: border-box;
}

// Переопределяем фон для выделенных элементов
::selection {
  background: var(--selection-color);
  color: var(--selection-text-color);
}

body {
  font-family: $--font-base;
  font-weight: $--font-weight-regular;
  font-size: $--font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Переопределяем стили vuetify
html {
  overflow-y: auto;
}
.v-application {
  font-family: $--font-base;
}
.v-application--wrap {
  // также можно использовать -webkit-fill-available
  min-height: calc(var(--vh, 1vh) * 100);
}
// Переопределим некоторые стили для vuetify
// уберем левый отступ у вкладок на маленьких устройствах
.v-slide-group__prev {
  &--disabled {
    display: none !important;
  }
}
